<ion-view title="{{data.friend.display_name}} - {{::data.friend.team}}">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear" ui-sref="">
      <i class=ion-ios-information-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content lazy-scroll class="content-stable">

    <div ng-show="isLoading">
      <ion-spinner></ion-spinner>
      <p>Loading messages</p>
    </div>
    <div ng-hide="isLoading || !isInFriendsList || !isConnectedToFriend">
      <div ng-repeat="message in data.messages" class="messages">
        <friend-message data="message"></friend-message>
      </div>
    </div>
    <div ng-show="!isLoading && !isInFriendsList">
      This person is not in your friends list. You must exchange your friend code with this person in order to chat with them.
    </div>
    <div ng-show="!isLoading && isInFriendsList && !isConnectedToFriend">
      <b>{{data.friend.display_name}}</b> needs to add you to their friends list before you can chat with them. Share your friend code with them!
    </div>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input chat-input type="text" placeholder="Type your message" on-return="sendMessage();" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()"/>
    </label>
    <button class="button button-clear" ng-click="sendMessage();">
      Send
    </button>
    <button class="ion-location" ng-click="showSendLocationPopup();"></button>
  </ion-footer-bar>
</ion-view>
