<ion-view title="Forgot Password">
  <ion-content padding="true" class="has-header">
    <p style="color:#000000;">If you have lost your password, type your email below and we will send you reset instructions.</p>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <button class="button button-balanced button-block">Send Reset Instructions</button>
    </form>
  </ion-content>
</ion-view>
