<ion-view title="Forgot Password">
  <ion-content padding="true" class="has-header">
    <p style="color:#FFFFFF;">If you have lost your password, type your email below and we will send you reset instructions.</p>
    <form class="list">
      <ion-list>
        <label class="item-input input-box">
          <input type="email" placeholder="Email address">
        </label>
      </ion-list>
      <button class="button button-balanced button-block generic-button">Send Reset Instructions</button>
    </form>
    <a href="#" ui-sref="login" style="font-size:14px;border-radius:0px 0px 0px 0px;"
       class="button button-positive button-small button-block button-clear misc-button">Remember your credentials? Sign in to an existing account</a>
  </ion-content>
</ion-view>
