<ion-view title="Forgot Password" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="forgotPassword-markdown5" style="color:#000000;" class=" ">If you have lost your password, type your email below and we will send you reset instructions.</p>
        <form id="forgotPassword-form3" class="list ">
            <ion-list id="forgotPassword-list4" class=" ">
                <label class="item item-input " id="forgotPassword-input6">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
            </ion-list>
            <button id="forgotPassword-button6" class=" button button-balanced  button-block ">Send Reset Instructions</button>
        </form>
    </ion-content>
</ion-view>