<ion-view title="Profile Setup">
  <ion-content padding="true" class="has-header">
    <p style="color:#FFFFFF;" class="welcome-text">Let's get you set up! Enter the details below:</p>
    <p style="color:#FFFFFF;" class="welcome-text">Enter your display name:</p>
    <form class="list">
      <label class="item-input input-box">
        <input type="text" placeholder="Display name" ng-model="data.displayName" class="text-input">
      </label>
    </form>
    <p style="color:#FFFFFF;text-align:center;">What team are you on?</p>
    <form class="list">
      <label class="custom-select">
        <select ng-model="data.team" class="text-input dropdown-box">
          <option value="Instinct">Instinct</option>
          <option value="Mystic">Mystic</option>
          <option value="Valor">Valor</option>
        </select>
      </label>
    </form>
    <button class="button button-balanced button-block generic-button" ng-click="sendSetup();">Save</button>
  </ion-content>
</ion-view>
