<ion-view title="Profile Setup" class="welcome-screen">
  <ion-content padding="true" class="has-header">
    <p style="color:#FFFFFF;" class="welcome-text">Let's get you set up! Enter the details below:</p>
    <p style="color:#FFFFFF;" class="welcome-text">Enter your display name:</p>
    <form class="list">
      <label class="item-input input-box">
        <input type="text" placeholder="Display name" ng-model="data.displayName" class="text-input">
      </label>
    </form>
    <p style="color:#FFFFFF; text-align:center;" class="welcome-text">What team are you on?</p>
    <form class="list">
      <label class="custom-select">
        <select ng-model="data.team" class="text-input dropdown-box">
          <option value="Instinct">Instinct</option>
          <option value="Mystic">Mystic</option>
          <option value="Valor">Valor</option>
        </select>
      </label>
    </form>
    <p style="color:#FFFFFF;" class="welcome-text">What's the furthest distance (in km) you would like to see public messages from?</p>
    <form class="list">
      <input type="range" step="1" min="1" max="30" value="15" ng-model="data.radius"/><span class="">{{data.radius}}</span>
    </form>
    <button class="button button-balanced button-block generic-button" ng-click="sendSetup();">Save</button>
  </ion-content>
</ion-view>
