<div class="message">
  <div ng-if="data.type === 'message'">
    <div class="message-body">
      <span class="message-contents">{{::data.message}}</span>
    </div>
    <div class="message-footer">
      <span timestamp="{{::data.timestamp}}"></span>
    </div>
  </div>
  <div ng-if="data.type === 'location'">
    <div class="message-body">
      <span class="message-contents">{{::data.latitude}}, {{::data.longitude}}</span>
    </div>
    <div class="message-footer">
      <span timestamp="{{::data.timestamp}}"></span>
    </div>
  </div>
</div>
