<ion-view title="Friends">

  <ion-content padding="true" class="has-header">
    <div ng-show="isLoading">
      <ion-spinner></ion-spinner>
      <p>Loading friends</p>
    </div>
    <div ng-hide="isLoading">
      <ion-list>
        <!--<ion-item>Your friend code is: {{::data.friendCode | friendCodeFormatter}}</ion-item>-->
        <ion-item class="item-icon-left item" ng-click="showAddFriendPopup();">
          <i class="icon ion-person-add"></i>Add a friend
        </ion-item>
        <ion-item>Your friend code is: <b>{{::data.friendCode | friendCodeFormatter}}</b></ion-item>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
      </ion-list>
      <ion-list>
        <ion-item ng-repeat="friend in data.friends" ng-click="">
          {{::friend.display_name}} - {{::friend.team}}<br/>
          <small>Last messaged: {{::friend.last_messaged | timestampFormatter}}</small>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
