<ion-view title="Profile" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="profile-card25">
            <ion-item class="item-avatar  " id="profile-list-item15">
                <h2>ThePurpleK</h2>
                <p>Team Valor</p>
            </ion-item>
            <a href="tel:" id="profile-button1" style="text-align:left;border-radius:10px 10px 10px 10px;" class=" button button-dark  button-block button-clear icon-left ion-log-out ">Sign Out</a>
        </div>
    </ion-content>
</ion-view>