<ion-view title="Messages Near Me">
  <ion-content class="content-stable"
               on-swipe-left="hideTime = false"
               on-swipe-right="hideTime = true">

    <div collection-repeat="message in messages" class="messages">
      <message data="message"></message>
    </div>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input chat-input type="text" placeholder="Type your message" on-return="sendMessage();" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()"/>
    </label>
    <button class="button button-clear" ng-click="sendMessage();">
      Send
    </button>
    <button class="ion-location" ng-click="showSendLocationPopup();"></button>
  </ion-footer-bar>
</ion-view>
