<ion-view title="Trainers Near Me">
  <ion-content lazy-scroll class="content-stable">

    <div ng-show="isLoading">
      <ion-spinner></ion-spinner>
      <p>Loading messages</p>
    </div>
    <div ng-hide="isLoading">
      <div ng-repeat="message in messages" class="messages">
        <message data="message"></message>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <textarea chat-input="" type="text" placeholder="Type your message" on-return="sendMessage();" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()"></textarea>
    </label>
    <button ng-show="data.message.length !== 0" class="button button-ion button-clear" ng-click="sendMessage();">
      <i class="ion-android-send"></i>
    </button>
    <button ng-show="data.message.length === 0" class="button button-ion button-clear" ng-click="showSendLocationPopup();">
      <i class="ion-location"></i>
    </button>
  </ion-footer-bar>
</ion-view>
