<ion-view title="Settings">
  <ion-content padding="true" class="has-header">
    <div class="list card ">
      <ion-item>
        <h2>{{::data.display_name}}</h2>
        <p>{{::data.team}}</p>
      </ion-item>
      <button style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-dark button-block button-clear icon-left ion-log-out" ng-click="signOut();">Sign Out
      </button>
      <button style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-dark button-block button-clear icon-left ion-log-out" ng-click="updateDisplayName();">Change display name
      </button>
      <button style="text-align:left;border-radius:10px 10px 10px 10px;" class="button button-dark button-block button-clear icon-left ion-log-out" ng-click="updateTeam();">Change team
      </button>
    </div>
  </ion-content>
</ion-view>
