<ion-view>
  <ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Public Messages" icon="ion-location" href="#/tabscontroller/public-messages" class="">
      <ion-nav-view name="tabpublicConversation"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon="ion-person-stalker" href="#/tabscontroller/friends" class="">
      <ion-nav-view name="tabFriends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Pokédex" icon="ion-grid" href="#/tabscontroller/pokedex" class="">
      <ion-nav-view name="tabPokedex"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-ios-gear" href="#/tabscontroller/settings" class="">
      <ion-nav-view name="tabSettings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
